<div class="jumbotrom bg-white text-center">
  <h1 class="display-4">Corona Covid 19 Tracker</h1>
  <hr />
  <app-dashboard-card [totalConfirmed] = "totalConfirmed" [totalDeath] = "totalDeath" [totalRecovered] = "totalRecovered"  [totalActive] = "totalActive" ></app-dashboard-card>
  <hr />
  <h3>Last Update: {{lastUpdateDate}}</h3>
</div>
<div class="ui form">
  <div class="inline fields">
    <label for="fruit">Select Case Type:</label>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="caseType" id="c" value="c" #c (click)="updateValue(c)" checked="" tabindex="0" class="hidden">
        <label for="c">Confirmed</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="caseType" id="d" value="d" #d (click)="updateValue(d)" tabindex="0" class="hidden">
        <label for="d">Deaths</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="caseType" id="r" value="r" #r (click)="updateValue(r)" tabindex="0" class="hidden">
        <label for="r">Recovered</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="caseType" id="a" value="a" #a (click)="updateValue(a)" tabindex="0" class="hidden">
        <label for="a">Active</label>
      </div>
    </div>
  </div>
</div>

<app-bar-chart [selectedData] = "datatable"></app-bar-chart>

<!-- <div class="row">
  <div class="col-6">
    <google-chart [data]="columnChart"></google-chart>
  </div>
  <div class="col-6">
    <google-chart [data]="pieChart"></google-chart>
  </div>
</div> -->

<table class="table">
  <tr>
    <th>Country</th>
    <th>Number</th>
  </tr>
    <tr *ngFor="let cs of mainData">
      <td>{{cs.Country}}</td>
      <td>{{cs.Value}}</td>
    </tr>
</table>
