<div class="jumbotrom bg-white text-center">
  <h1 class="display-4">Corona Covid 19 Tracker Country Wise</h1>
  <hr />
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi exercitationem architecto ut aperiam ipsum, velit sunt laborum harum labore tenetur ea amet numquam omnis magnam quaerat aspernatur minus odit vero.</p>
  <hr class="my-4" />
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto amet hic dicta laborum cumque, architecto quas fuga iste quasi qui error eveniet exercitationem accusantium, quibusdam praesentium natus, soluta eos magnam!</p>
</div>
