<div class="jumbotrom bg-white text-center">
  <h1 class="display-4">Corona Covid 19 Tracker Country Wise</h1>
  <hr />
  <div class="mx-auto">
    <div class="form-group col-lg-5 mx-auto">
      <label for="c">Select Country</label>
      <select name="" class="form-control" id="c" #input (change)="updateValues(input.value)">
        <option value="{{con}}" *ngFor="let con of countries">{{con}}</option>
      </select>
    </div>
  </div>
  <hr />
  <app-dashboard-card [totalConfirmed] = "totalConfirmed" [totalDeath] = "totalDeath" [totalRecovered] = "totalRecovered"  [totalActive] = "totalActive" ></app-dashboard-card>

  <div class="row">
    <div class="col-6">
      <div class="card">
        <div style="width: 100%;">
          <div class="table">
            <table class="table-responsive">
              <thead>
                <tr>
                  <th>Sno.</th>
                  <th>Date</th>
                  <th>Cases</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cs of selectedCountryData; index as i">
                  <td>{{i+1}}</td>
                  <td>{{cs.date | date}}</td>
                  <td>{{cs.case}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <app-chart [selectedData] = "selectedCountryData"></app-chart>
    </div>
  </div>
</div>
